html {
    font-family: monospace, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input,
button {
    font-family: inherit;
}

input[type="text"] {
    min-width: 10%;
    border-radius: 4px;
    outline: none;
    border: 1px solid gray;
    padding: .25rem .5rem;
}

button,
input[type="submit"],
input[type="button"] {
    padding: .33rem 1.5rem;
    padding: .33rem 1.5rem;
    outline: none;
    background: none;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    box-shadow: 0px 0px 2px;
    background-color: gray;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: .5rem;
}

form label {
    font-weight: bold;
}